@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif-sc-400-0.woff2) format('woff2');
  unicode-range: U+20, U+25, U+30-39, U+43, U+56, U+b7, U+2014, U+3002, U+4e00, U+4ea7, U+4efd, U+5206, U+529f, U+53ef, U+54c1, U+574f, U+5986, U+5ba2-5ba3, U+5e93, U+5ea6, U+5f97, U+5faa, U+6210, U+6280, U+6297, U+636e, U+6548, U+65b9, U+6709, U+677e, U+67e5, U+6838, U+6b27, U+6bcf, U+6d4f, U+6d53, U+6ef4, U+7686, U+771f, U+79d1, U+79f0, U+7ecf, U+7f8e, U+83b1, U+8840, U+89c8, U+8a00, U+8bc1, U+8d77, U+8ff9, U+9010, U+914d, U+9178, U+96c5, U+9879, U+9a8c, U+9ed1, U+ff0c, U+ff1b;
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/noto-serif-sc-500-0.woff2) format('woff2');
  unicode-range: U+20, U+25, U+30-39, U+43, U+56, U+b7, U+2014, U+3002, U+4e00, U+4ea7, U+4efd, U+5206, U+529f, U+53ef, U+54c1, U+574f, U+5986, U+5ba2-5ba3, U+5e93, U+5ea6, U+5f97, U+5faa, U+6210, U+6280, U+6297, U+636e, U+6548, U+65b9, U+6709, U+677e, U+67e5, U+6838, U+6b27, U+6bcf, U+6d4f, U+6d53, U+6ef4, U+7686, U+771f, U+79d1, U+79f0, U+7ecf, U+7f8e, U+83b1, U+8840, U+89c8, U+8a00, U+8bc1, U+8d77, U+8ff9, U+9010, U+914d, U+9178, U+96c5, U+9879, U+9a8c, U+9ed1, U+ff0c, U+ff1b;
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/noto-serif-sc-600-0.woff2) format('woff2');
  unicode-range: U+20, U+25, U+30-39, U+43, U+56, U+b7, U+2014, U+3002, U+4e00, U+4ea7, U+4efd, U+5206, U+529f, U+53ef, U+54c1, U+574f, U+5986, U+5ba2-5ba3, U+5e93, U+5ea6, U+5f97, U+5faa, U+6210, U+6280, U+6297, U+636e, U+6548, U+65b9, U+6709, U+677e, U+67e5, U+6838, U+6b27, U+6bcf, U+6d4f, U+6d53, U+6ef4, U+7686, U+771f, U+79d1, U+79f0, U+7ecf, U+7f8e, U+83b1, U+8840, U+89c8, U+8a00, U+8bc1, U+8d77, U+8ff9, U+9010, U+914d, U+9178, U+96c5, U+9879, U+9a8c, U+9ed1, U+ff0c, U+ff1b;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/inter-400-0.woff2) format('woff2');
  unicode-range: U+20, U+30-39, U+44-45, U+47-49, U+4e, U+52-55, U+b0, U+b7, U+2014, U+2192;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/inter-500-0.woff2) format('woff2');
  unicode-range: U+20, U+30-39, U+44-45, U+47-49, U+4e, U+52-55, U+b0, U+b7, U+2014, U+2192;
}
