@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/lab/fonts/noto-serif-sc-400-0.woff2) format('woff2');
  unicode-range: U+20, U+25, U+28-29, U+2e-3b, U+41-5a, U+61-7a, U+b7, U+d7, U+2013-2014, U+2248, U+3002, U+4e00, U+4ea7, U+4eae, U+4efd, U+4f4d, U+4f8b, U+4fc3, U+4fdd, U+4fee, U+504f, U+5165, U+5206, U+5224, U+5242, U+529f, U+5316, U+5360, U+539f, U+53ef, U+5408, U+54c1, U+574f, U+589e, U+5986, U+5b58, U+5b88, U+5b9a, U+5ba2-5ba3, U+5e93, U+5ea6, U+5f85, U+5f97, U+5faa, U+6210, U+6280, U+6297, U+62a4, U+636e, U+63a5, U+63a7-63a8, U+63d0, U+6548, U+6587, U+65ad, U+65b9, U+6709, U+671f, U+677e, U+67e5, U+6807, U+6838, U+6a2a, U+6b27, U+6bcf, U+6c27, U+6c34, U+6cb9, U+6cdb, U+6d4f, U+6d53, U+6da6, U+6e7f, U+6ecb, U+6ef4, U+70b9, U+70df, U+732e, U+751f, U+7591, U+767d, U+7686, U+771f, U+793a, U+79d1, U+79f0, U+7a33, U+7ea6, U+7ebf, U+7ecf, U+7f13, U+7f8e, U+80b2, U+80f6, U+80fa, U+8212, U+83b1, U+8840, U+8865, U+89c8, U+8a00, U+8bc1, U+8d77, U+8de8, U+8fbe, U+8ff9, U+9010, U+914d, U+915a, U+9170, U+9178, U+9187, U+91cf, U+963f, U+96c5, U+9879, U+9a8c, U+9b4f, U+9ed1, U+ff08-ff09, U+ff0c, U+ff1a-ff1b;
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/lab/fonts/noto-serif-sc-500-0.woff2) format('woff2');
  unicode-range: U+20, U+25, U+28-29, U+2e-3b, U+41-5a, U+61-7a, U+b7, U+d7, U+2013-2014, U+2248, U+3002, U+4e00, U+4ea7, U+4eae, U+4efd, U+4f4d, U+4f8b, U+4fc3, U+4fdd, U+4fee, U+504f, U+5165, U+5206, U+5224, U+5242, U+529f, U+5316, U+5360, U+539f, U+53ef, U+5408, U+54c1, U+574f, U+589e, U+5986, U+5b58, U+5b88, U+5b9a, U+5ba2-5ba3, U+5e93, U+5ea6, U+5f85, U+5f97, U+5faa, U+6210, U+6280, U+6297, U+62a4, U+636e, U+63a5, U+63a7-63a8, U+63d0, U+6548, U+6587, U+65ad, U+65b9, U+6709, U+671f, U+677e, U+67e5, U+6807, U+6838, U+6a2a, U+6b27, U+6bcf, U+6c27, U+6c34, U+6cb9, U+6cdb, U+6d4f, U+6d53, U+6da6, U+6e7f, U+6ecb, U+6ef4, U+70b9, U+70df, U+732e, U+751f, U+7591, U+767d, U+7686, U+771f, U+793a, U+79d1, U+79f0, U+7a33, U+7ea6, U+7ebf, U+7ecf, U+7f13, U+7f8e, U+80b2, U+80f6, U+80fa, U+8212, U+83b1, U+8840, U+8865, U+89c8, U+8a00, U+8bc1, U+8d77, U+8de8, U+8fbe, U+8ff9, U+9010, U+914d, U+915a, U+9170, U+9178, U+9187, U+91cf, U+963f, U+96c5, U+9879, U+9a8c, U+9b4f, U+9ed1, U+ff08-ff09, U+ff0c, U+ff1a-ff1b;
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/lab/fonts/noto-serif-sc-600-0.woff2) format('woff2');
  unicode-range: U+20, U+25, U+28-29, U+2e-3b, U+41-5a, U+61-7a, U+b7, U+d7, U+2013-2014, U+2248, U+3002, U+4e00, U+4ea7, U+4eae, U+4efd, U+4f4d, U+4f8b, U+4fc3, U+4fdd, U+4fee, U+504f, U+5165, U+5206, U+5224, U+5242, U+529f, U+5316, U+5360, U+539f, U+53ef, U+5408, U+54c1, U+574f, U+589e, U+5986, U+5b58, U+5b88, U+5b9a, U+5ba2-5ba3, U+5e93, U+5ea6, U+5f85, U+5f97, U+5faa, U+6210, U+6280, U+6297, U+62a4, U+636e, U+63a5, U+63a7-63a8, U+63d0, U+6548, U+6587, U+65ad, U+65b9, U+6709, U+671f, U+677e, U+67e5, U+6807, U+6838, U+6a2a, U+6b27, U+6bcf, U+6c27, U+6c34, U+6cb9, U+6cdb, U+6d4f, U+6d53, U+6da6, U+6e7f, U+6ecb, U+6ef4, U+70b9, U+70df, U+732e, U+751f, U+7591, U+767d, U+7686, U+771f, U+793a, U+79d1, U+79f0, U+7a33, U+7ea6, U+7ebf, U+7ecf, U+7f13, U+7f8e, U+80b2, U+80f6, U+80fa, U+8212, U+83b1, U+8840, U+8865, U+89c8, U+8a00, U+8bc1, U+8d77, U+8de8, U+8fbe, U+8ff9, U+9010, U+914d, U+915a, U+9170, U+9178, U+9187, U+91cf, U+963f, U+96c5, U+9879, U+9a8c, U+9b4f, U+9ed1, U+ff08-ff09, U+ff0c, U+ff1a-ff1b;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/lab/fonts/inter-400-0.woff2) format('woff2');
  unicode-range: U+20, U+30-39, U+44-45, U+47-49, U+4e, U+52-55, U+b0, U+b7, U+2014, U+2192;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/lab/fonts/inter-500-0.woff2) format('woff2');
  unicode-range: U+20, U+30-39, U+44-45, U+47-49, U+4e, U+52-55, U+b0, U+b7, U+2014, U+2192;
}

/* 童话圆体字体（本地化子集） */
@font-face {
  font-family: 'ZCOOL KuaiLe';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/lab/fonts/zcool-kuaile-400-subset.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/lab/fonts/noto-sans-sc-var-subset.woff2) format('woff2');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(/lab/fonts/quicksand-var.woff2) format('woff2');
}
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(/lab/fonts/baloo-2-var.woff2) format('woff2');
}
